<%- include ("../partials/header") %>

<h1 id="ttitle" class="heading">Latest Trends</h1>

<div class="container cont-trend">
    <h2 class="thead">COLLECTION SPOTLIGHT</h2>
    <hr class="thr">
    <div class="row post">
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/ec157c6233396724b188ebcf62b1cc51bdac4612_si-438655.jpg_widthcm-46.7565459610028_heightcm-60_croppedwidthcm-34.7565459610028_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=26f7f191962c93308150ae2ec0bc817e"
                 class="card-img-top" alt="...">
                    <a href="https://www.vogue.in/" class="btn btn-lg btn-block lbtn hover">VOGUE</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/63b2a518c265d4397c3a24f0b25362a242f65491_si-412851.jpg_widthcm-60_heightcm-49.0868664850136_croppedwidthcm-48_croppedheightcm-37.0868664850136_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=e5cc7c1db19f2b13bd3801c7f4cd1050"
                 class="card-img-top" alt="...">
                <a href="https://www.nationalgallery.org.uk/" class="btn btn-lg btn-block lbtn hover">NATIONAL GALLERY</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/8130b64780d3b9c3c7f1691c314ed412561a3745_si-437216.jpg_widthcm-43.8575063613232_heightcm-60_croppedwidthcm-31.8575063613232_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=41ee2cc7ecb873ebc9f6ca82a0755f9e"
                 class="card-img-top" alt="...">
                <a href="https://www.ltmuseum.co.uk/" class="btn btn-lg btn-block lbtn hover">LONDON TRANSPORT MUSEUM</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/5b8bddf9643e13d1c56050e22f16078d1257fd41_si-431266.jpg_ihcm-50.00_iwcm-30.82_fls-880229l.tif_fts-880229t.tif_mc-ffffff_fwcm-1.50_tmwcm-5.00_bmwcm-5.00_lmwcm-5.00_rmwcm-5.00_maxdim-1000_en_easyart___iar-1.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=5e3ad5c4cfdea43e6a5ec20bc529fb26"
                 class="card-img-top" alt="...">
                <a href="https://penguin.co.in/" class="btn btn-lg btn-block lbtn hover">PENGUIN</a>
            </div>
        </div>
    </div>

    <div class="row post">
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/74548ae4f23e2e84b815ee1c7df01ae0f099aa3d_si-438399.jpg_widthcm-50.0464371497198_heightcm-60_croppedwidthcm-38.0464371497198_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=aab9cbc0ad7e3a22dfe24ac39e6a105c"
                class="card-img-top" alt="...">
                <a href="https://www.vam.ac.uk/shop/prints.html" class="btn btn-lg btn-block lbtn hover">V&A</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/f09d13ebea781e6d5e8d415c001e9fbbb803749c_si-435562.jpg_widthcm-54.1375573155481_heightcm-60_croppedwidthcm-42.1375573155481_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=85da80fe1dfa720bddf4e5741ef608dc"
                class="card-img-top" alt="...">
                <a href="https://www.wmgallery.org.uk/" class="btn btn-lg btn-block lbtn hover">WILLIAM MORRIS GALLERY</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/5cf4acf3a79de893341ea98c63ee08467bde2abf_si-437612.jpg_widthcm-50.5800401875419_heightcm-60_croppedwidthcm-38.5800401875419_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=69f2592e739e7300a7c5ce6806f3fc39"
                class="card-img-top" alt="...">
                <a href="https://www.npg.org.uk/" class="btn btn-lg btn-block lbtn hover">NATIONAL PORTRAIT GALLERY</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/96e8ece4eac837e3d1315edaa15719cf193c5052_bmi-0.1_bmwcm-2.0_fid-880604_fwcm-1.9_ihcm-71.0_iwcm-53.5_lmwcm-2.0_maxdim-1000_mc-ffffff_rmwcm-2.0_si-435850.jpg_tmwcm-2.0.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=50504bf2e7e2e14693c85dfaaba9a149"
                class="card-img-top" alt="...">
                <a href="https://www.mourloteditions.com/" class="btn btn-lg btn-block lbtn hover">GALERIE MOURLOT</a>
            </div>
        </div>
    </div>

    <h2 class="thead">MUSEUMS & GALLERIES</h2>
    <hr class="thr">
    <div class="row post">
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/17dc097ccb8d25b972246f9ab9f20aaa16d47b9e_d7f0904e-8c0d-4ae1-826c-248c5df2f662_antibes-monet.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=ce1d6a84df89ab9983fd3bd03d80d67f"
                 class="card-img-top" alt="...">
                 <a href="https://courtauld.ac.uk/gallery" class="btn btn-lg btn-block lbtn hover">THE COURTAULD GALLERY</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/0187392d4d39021d3b5ce8871dd34858b707ab96_1b426928-1330-45c3-abd9-c3f39ea6b775_l_s_lowry_431377.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=c6ee28041d853eb76edfed221e9780f9"
                 class="card-img-top" alt="...">
                 <a href="https://thelowry.com/" class="btn btn-lg btn-block lbtn hover">THE LOWRY</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/d7d2d34b8c870e8470dc46e8f93b384f067e1c1f_si-436583.jpg_widthcm-104.00_heightcm-104.00_croppedwidthcm-100.00_croppedheightcm-100.00_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=ef0887e318978da8c4c108a53f050ab2"
                 class="card-img-top" alt="...">
                 <a href="https://www.royalacademy.org.uk/" class="btn btn-lg btn-block lbtn hover">ROYAL ACADEMY OF ARTS</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/bef8ee90ac7efd6b9051adc61f254f6042daf419_si-438265.jpg_widthcm-40.00_heightcm-50.00_croppedwidthcm-31.30_croppedheightcm-42.00_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=8d16ba8cfb2b8d9add34eddda9579a6f"
                 class="card-img-top" alt="...">
                 <a href="https://hepworthwakefield.org/" class="btn btn-lg btn-block lbtn hover">THE HEPWORTH WAKEFIELD</a>
            </div>
        </div>
    </div>

    <div class="row post">
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/60abf736829609c593946e0ba97e1cec9393f895_c0a49800-017d-4d23-9096-d67c54b0a4eb_gazette_du_bon_ton_427721.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=4df9d294721f03a563509de2955c0f7d" 
                class="card-img-top" alt="...">
                <a href="https://www.abebooks.com/books/features/lithographs/gazette-du-bon-ton.shtml" 
                    class="btn btn-lg btn-block lbtn hover">GAZETTE DU BON TON</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/1257416b6097190669b67dab82147e23f09a4a39_si-436589.jpg_widthcm-44.1827242524917_heightcm-60_croppedwidthcm-32.1827242524917_croppedheightcm-48_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=235164db71e8e6a347efff46d970dcd3"
                class="card-img-top" alt="...">
                <a href="https://www.chatsworth.org/art-archives/" class="btn btn-lg btn-block lbtn hover">CHATSWORTH HOUSE</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/288ee41cf463f8f1a3386432443bcb69dcc4f57e_si-469612.jpg_ihcm-50.00_iwcm-34.86_fls-880603l.tif_fts-880603t.tif_mc-ffffff_fwcm-1.50_tmwcm-5.00_bmwcm-5.00_lmwcm-5.00_rmwcm-5.00_maxdim-1000_en_easyart___iar-1.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=c1abd2ec9af6ee05e4b085456046e8df"
                class="card-img-top" alt="...">
                <a href="https://www.soane.org/" class="btn btn-lg btn-block lbtn hover">SIR JOHN SOANE'S MUSEUM</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/48a1b38bb3016c552883feb55690711a8d8b139a_si-433243.jpg_widthcm-60_heightcm-51.5588673621461_croppedwidthcm-48_croppedheightcm-39.5588673621461_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=47553942c83a59475b0fc0149d7c451f"
                class="card-img-top" alt="...">
                <a href="https://www.iwm.org.uk/" class="btn btn-lg btn-block lbtn hover">IMPERIAL WAR MUSEUM</a>
            </div>
        </div>
    </div>

    <h2 class="thead">VINTAGE COLLECTIONS</h2>
    <hr class="thr">
    <div class="row post">
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/ceb3c5660e7361dc951ba984c1a6a61c1b197870_si-432843.jpg_ihcm-50.00_iwcm-38.71_fls-880229l.tif_fts-880229t.tif_mc-ffffff_fwcm-1.50_tmwcm-5.00_bmwcm-5.00_lmwcm-5.00_rmwcm-5.00_maxdim-1000_en_easyart___iar-1.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=e07baf984d12b711d777350673e78e31"
                 class="card-img-top" alt="...">
                <a href="https://society6.com/prints/music" class="btn btn-lg btn-block lbtn hover">ART INSPIRED BY MUSIC</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/d58ec83dcdd14b0419985bb84769c1c9a1cc8814_e7616ec1-e99e-42ee-9384-2bdd57344313_p_o_heritage_436866.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=61935f228a700c56ebfa0cc1c4539eee"
                 class="card-img-top" alt="...">
                <a href="https://www.poheritage.com/" class="btn btn-lg btn-block lbtn hover">P&O HERITAGE</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/9afc54f5a3ad6801e58860204d3c8951259638cf_54b2798d-1482-42ed-b6cb-2e9f0eb5adac_travel_national_archives_209075.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=28f32e66a3eba7ac25ff198205c9b6da"
                 class="card-img-top" alt="..." href="https://www.vogue.in/">
                <a href="https://www.nationalarchives.gov.uk/" class="btn btn-lg btn-block lbtn hover">THE NATIONAL ARCHIVES</a>
            </div>
        </div>
        <div class="col-md-3" id="latest_blog">
            <div class="card">
                <img src="https://prismic.imgix.net/km-redesign/8bd4a14290bc76708167bcbf60b89bf7ac1f6dd0_si-436144.jpg_widthcm-32.1940891045435_heightcm-40_croppedwidthcm-24.1940891045435_croppedheightcm-32_maxdim-1000.jpg?ixlib=rails-4.0.0&auto=compress%2Cformat&nr=20&nrs=20&q=50&fit=crop&w=300&s=b4b1bbb916b8dc5ebb0e9ab90268ccbe"
                 class="card-img-top" alt="...">
                <a href="https://www.iln.co.uk/" class="btn btn-lg btn-block lbtn hover">ILLUSTRATED LONDON NEWS</a>
            </div>
        </div>
    </div>

    <a href="/gallery">Go Back</a>

    <%- include ("../partials/footer") %>

</div>