<%- include ("../partials/header") %>
<div class="container">

    <h1 id="type" class="heading">Types of Art Forms</h1>

    <div class="card-columns ">
        <div class="card text-center block-1 view overlay zoom">
            <a href="/gallery/type/one">
                <img src="https://images.unsplash.com/photo-1587131031099-2185aab522af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SCULPTURE</h5>
                </div>
            </a>
        </div>
        <div class="card p-3 text-center view overlay zoom">
            <a href="/gallery/type/two">
                <img src="https://images.unsplash.com/photo-1522600579804-c66aa476298e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PAINTING</h5>
                </div>
            </a>
        </div>
        <div class="card p-3 text-center view overlay zoom">
            <a href="/gallery/type/three">
                <img src="https://images.unsplash.com/photo-1586126763549-52fe69195fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">SKETCHING</h5>
                </div>
            </a>
        </div>
        <div class="card  center-text text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>
                “Art and love are the same thing: It’s the process of seeing yourself in things that are not you.”
            </p>
            <footer class="blockquote-footer text-white">
                <small>
                    Chuck Klosterman
                </small>
            </footer>
          </blockquote>
        </div>
        <div class="card text-center view overlay zoom">
            <a href="/gallery/type/four">
                <img src="https://images.unsplash.com/photo-1558185348-c1e6420f12d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PHOTOGRAPHY</h5>
                </div>
            </a>
        </div>
        <div class="card text-center block-5 view overlay zoom">
            <a href="/gallery/type/five">
                <img src="https://images.unsplash.com/photo-1554881070-74595ca2b74c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FASHION DESIGN</h5>
                </div>
            </a>
        </div>
        <div class="card p-3 text-center view overlay zoom">
            <a href="/gallery/type/six">
                <img src="https://images.unsplash.com/photo-1589149098258-3e9102cd63d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">GRAPHIC DESIGN</h5>
                </div>
            </a>
        </div>
    </div>




    <%- include ("../partials/footer") %>

</div>