<%- include ("../../../partials/header") %>

<h1 id="artist_head">Amrita Sher-Gil</h1>

<div class="container">

    <div class="card-columns">
        <div class="card text-center lpic1">
            <img src="https://cdn.shopify.com/s/files/1/0969/9128/products/Amrita_Sher_Gil_-_Sumair_98e99adb-6ca9-4d71-879d-4dea6888ed23.jpg?v=1516343582" 
            class="card-img-top" alt="...">
        </div>
        <div class="card text-center lpic2">
            <img src="https://www.framinghouse.in/images/amrita-sher-gil/2a.jpg" 
            class="card-img-top" alt="...">
        </div>
        <div class="card p-3 text-center tpic">
            <img src="https://thewire.in/wp-content/uploads/2015/10/shergil-2.jpg" 
            class="card-img-top" alt="...">
        </div>
        <div class="card  center-text text-white text-center p-3 cpic">
            <div class="card p-3 text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Amrita_Sher-Gil_2.jpg" 
                    class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card p-3 text-center bpic">
            <img src="https://webneel.com/daily/sites/default/files/images/daily/02-2016/9-village-sales-painting-by-amrita-shergil.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Old Artwork</h5>
            </div>
        </div>
        <div class="card text-center block-5 rpic1">
            <img src="https://img.theculturetrip.com/768x432/wp-content/uploads/2013/11/amrita-sher-gil-village-scene-1938.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Girl Before A Mirror</h5>
            </div>
        </div>
        <div class="card p-3 text-center rpic2">
            <img src="https://images-na.ssl-images-amazon.com/images/I/711h96SreWL._AC_SY741_.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">South Indian Villagers</h5>
            </div>
        </div>
    </div>

    <%- include ("../../../partials/footer") %>

</div>