<%- include ("../../../partials/header") %>

<h1 id="artist_head">M. F. Husain</h1>

<div class="container">

    <div class="card-columns">
        <div class="card text-center lpic1">
            <img src="https://d32dm0rphc51dk.cloudfront.net/CkboA0iblJ2Q1SpPLnHtRw/large.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">British Raj</h5>
            </div>
        </div>
        <div class="card text-center lpic2">
            <img src="https://artiana.com/images/Lots/131637707139112000.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paintings Of Faces</h5>
            </div>
        </div>
        <div class="card p-3 text-center tpic">
            <img src="https://cdn.shopify.com/s/files/1/0153/4745/products/M.F.Husain_FinishingPoint_LimitedEdition_www.DeccanFootprints.com.jpg?v=1378865671" 
            class="card-img-top" alt="...">
        </div>
        <div class="card  center-text text-white text-center p-3 cpic">
            <div class="card p-3 text-center">
                <img src="https://images.herzindagi.info/image/2019/Jun/mf-hussain.jpg" 
                    class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card p-3 text-center bpic">
            <img src="https://www.artzolo.com/sites/default/files/uploads/multi/3893/largest/160.jpg" 
            class="card-img-top" alt="...">
        </div>
        <div class="card text-center block-5 rpic1">
            <img src="https://d1drtiiz13sc9k.cloudfront.net/storyltd/2013/november/mfhusain_1311story_13209_tbig.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bollywood</h5>
            </div>
        </div>
        <div class="card p-3 text-center rpic2">
            <img src="https://d1drtiiz13sc9k.cloudfront.net/storyltd/2014/dec/husain_14stor_19839_tbig.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Krishna Leela</h5>
            </div>
        </div>
    </div>

    <%- include ("../../../partials/footer") %>

</div>