<%- include ("../../../partials/header") %>

<h1 id="artist_head">Norman Rockwell</h1>

<div class="container">

    <div class="card-columns">
        <div class="card text-center lpic1">
            <img src="https://www.nrm.org/wp2016/wp-content/uploads/2011/09/A-Scout-Is-Helpful_web-650x919.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A Scout Is Helpful</h5>
            </div>
        </div>
        <div class="card text-center lpic2">
            <img src="https://sothebys-com.brightspotcdn.com/dims4/default/da7fe93/2147483647/strip/true/crop/4136x4436+0+0/resize/684x734!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fdotcom%2F69%2F83%2F3ba6a82d4c879ab6fdd02599c4e2%2Fnorman-rockwell-tired-girl-on-christmas-eve.jpg"
            class="card-img-top" alt="...">
        </div>
        <div class="card p-3 text-center tpic">
            <img src="https://i.pinimg.com/originals/0d/00/7a/0d007a37bcb213da796b59d3fa6ea1c5.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Traditional family values</h5>
            </div>
        </div>
        <div class="card  center-text text-white text-center p-3 cpic">
            <div class="card p-3 text-center">
                <img src="https://surovekgallery.com/wp-content/uploads/2016/06/norman-rockwell-244x300.jpg" 
                    class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card p-3 text-center bpic">
            <img src="https://www.christies.com/img/LotImages/2018/NYR/2018_NYR_16084_0036_000(norman_rockwell_barefoot_boy_daydreaming).jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Barefoot Boy Daydreaming</h5>
            </div>
        </div>
        <div class="card text-center block-5 rpic1">
            <img src="https://secure.img1-fg.wfcdn.com/im/50715881/compr-r85/1747/17478419/barbershop-quartet-by-norman-rockwell-painting-print-on-wrapped-canvas.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Barbershop Quartet</h5>
            </div>
        </div>
        <div class="card p-3 text-center rpic2">
            <img src="https://www.masslive.com/resizer/Jql6fld4oo3cnzl5_zT7FFPsvp8=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.masslive.com/home/mass-media/width2048/img/entertainment/photo/the-veterinarian-1961jpg-47ddd5917275a3d4.jpg"
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Bark</h5>
            </div>
        </div>
    </div>

    <%- include ("../../../partials/footer") %>

</div>