<%- include ("../../../partials/header") %>

<h1 id="artist_head">Pablo Picasso</h1>

<div class="container">

    <div class="card-columns">
        <div class="card text-center lpic1">
            <img src="https://d9p7civm2914u.cloudfront.net/wp-content/uploads/2018/05/pablo-picasso-weeping-woman.jpg.webp" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Crying Woman</h5>
            </div>
        </div>
        <div class="card text-center lpic2">
            <img src="https://i.pinimg.com/originals/99/f4/e5/99f4e59b504891233e54659c7d8900ee.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hand Painted Cubist</h5>
            </div>
        </div>
        <div class="card p-3 text-center tpic">
            <img src="https://images.saatchiart.com/saatchi/1311333/art/6500245/5569923-ZKXBOQPN-7.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Portrait of Pablo Picasso</h5>
            </div>
        </div>
        <div class="card  center-text text-white text-center p-3 cpic">
            <div class="card p-3 text-center">
                <img src="https://www.biography.com/.image/t_share/MTY2NTIzNTAyNjgwMDg5ODQy/pablo-picasso-at-his-home-in-cannes-circa-1960-photo-by-popperfoto_getty-images.jpg" 
                    class="card-img-top" alt="...">
            </div>
        </div>
        <div class="card p-3 text-center bpic">
            <img src="https://www.christies.com/img/LotImages/2017/NYR/2017_NYR_14183_0012A_000(pablo_picasso_femme_assise_robe_bleue).jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Femme assise, robe bleue</h5>
            </div>
        </div>
        <div class="card text-center block-5 rpic1">
            <img src="https://www.pablopicasso.org/images/paintings/girl-before-a-mirror.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Girl Before A Mirror</h5>
            </div>
        </div>
        <div class="card p-3 text-center rpic2">
            <img src="https://i.pinimg.com/originals/6a/92/06/6a9206e6c09e73c5edbe6dcd61397f3b.jpg" 
            class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paintings Of Faces</h5>
            </div>
        </div>
    </div>

    <%- include ("../../../partials/footer") %>

</div>