<%- include ("../../partials/header") %>

<h1 id="history">HISTORY</h1>

<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Stone_Age_Animal_Carving%2C_Hayonim_Cave%2C_28000_BP.jpg/435px-Stone_Age_Animal_Carving%2C_Hayonim_Cave%2C_28000_BP.jpg" alt="...">
            </div>
            <div class="col-md-8 left">
                <div class="card-body">
                    <h5 class="card-title timePeriod">Prehistory</h5>
                    <hr>
                    <p class="card-text" id="descrp">Engraved shells created by Homo erectus dating as far back as 500,000 years ago have been found, although experts disagree on whether these engravings can be properly classified as ‘art’. A number of claims of Neanderthal art, adornment, and structures have been made, dating from around 130,000 before present and suggesting that Neanderthals may have been capable of symbolic thought, but none of these claims are widely accepted.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8 right">
                <div class="card-body">
                    <h5 class="card-title timePeriod">Ancient Art</h5>
                    <hr>
                    <p class="card-text" id="descrp">In the first period of recorded history, art coincided with writing. The great civilizations of the Near East: Egypt and Mesopotamia arose. Globally, during this period the first great cities appeared near major rivers: the Nile, Tigris and Euphrates, Indus and Yellow Rivers.One of the great advances of this period was writing, which was developed from the tradition of communication using pictures. The first form of writing were the Jiahu symbols from Neolithic China, but the first true writing was cuneiform script, which emerged in Mesopotamia c. 3500 BC, written on clay tablets. It was based on pictographic and ideographic elements, while later Sumerians developed syllables for writing, reflecting the phonology and syntax of the Sumerian language.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSo_CzlI3ndt219FpTU-ZsYJrBdEtTC34v6kmkU0AkZXK9YsfTt&usqp=CAU" alt="...">
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Two_flasks_with_dragons.jpg/255px-Two_flasks_with_dragons.jpg" alt="...">
            </div>
            <div class="col-md-8 left">
                <div class="card-body">
                <h5 class="card-title timePeriod">Asian Art</h5>
                <hr>
                <p class="card-text" id="descrp">Eastern civilization broadly includes Asia, and it also includes a complex tradition of art making. One approach to Eastern art history divides the field by nation, with foci on Indian art, Chinese art, and Japanese art. Due to the size of the continent, the distinction between Eastern Asia and Southern Asia in the context of arts can be clearly seen. In most of Asia, pottery was a prevalent form of art. The pottery is often decorated with geometric patterns or abstract representations of animals, people or plants. Other very widespread forms of art were, and are, sculpture and painting.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-8 right">
                <div class="card-body">
                <h5 class="card-title timePeriod">Indian Art</h5>
                <hr>
                <p class="card-text" id="descrp">Early Buddhists in India developed symbols related to Buddha. The major survivals of Buddhist art begin in the period after the Mauryans, with in North India Kushan art, the Greco-Buddhist art of Gandhara and finally the "classic" period of Gupta art. Good quantities of sculpture survives from some key sites such as Sanchi, Bharhut and Amaravati, some of which remain in situ, with others in museums in India or around the world. Stupas were surrounded by ceremonial fences with four profusely carved toranas or ornamental gateways facing the cardinal directions. These are in stone, though clearly adopting forms developed in wood.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQyF1ngbwSbzO0UWI-4VBoSTKCVABiMfzL61lrB9eRm0W9tdECF&usqp=CAU" alt="...">
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="https://images.unsplash.com/photo-1555338072-915a8fae3a2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="...">
            </div>
            <div class="col-md-8 left">
                <div class="card-body">
                <h5 class="card-title timePeriod">Modern Art</h5>
                <hr>
                <p class="card-text" id="descrp">Many art historians place the origins of modern art in the late 18th century, others in the mid 19th century. Art historian H. Harvard Arnason stated "a gradual metamorphosis took place in the course of a hundred years." Events such as the age of enlightenment, revolutions and democracies in America and France, and the Industrial Revolution had far reaching affects in western culture. People, commodities, ideas, and information could travel between countries and continents with unprecedented speed and these changes were reflected in the arts. The invention of photography in the 1830s further altered certain aspects of art, particularly painting.</p>
                </div>
            </div>
        </div>
    </div>

</div>


<%- include ("../../partials/footer") %>