<%- include ("../../partials/header") %>


<div class="container cont-five">
    
    <h1 class="heading">  
        <a href="/gallery/type/four"><i class="fas fa-chevron-circle-left lr-btn"></i></a>
            Fashion Designing
        <a href="/gallery/type/six"><i class="fas fa-chevron-circle-right lr-btn"></i></a>
    </h1>
    
    <div class="row">
        <!-- section 1 -->
        <div class="col-md-3 thumbnail">
            <h3 class="h05">What is Fashion Designing?</h3>
            <p class="para p5">
                Fashion design is the art of applying design, aesthetics and natural beauty to clothing and its accessories. It is influenced by cultural and social attitudes, and has varied over time and place. Fashion designers work in a number of ways in designing clothing and accessories such as bracelets and necklaces.
            </p>
            <hr class="style-two">
            <h3 class="h05">History</h3>
            <p class="para p5">
                The origin of fashion designing dates as far back as 1826. Charles Frederick Worth is believed to be the first fashion designer of the world, from 1826 to 1895. ... It was he who started the tradition of fashion houses and telling his customers what kind of clothing would suit them.
            </p>
            <hr class="style-two">
            <h3 class="h05">Fashion Designers</h3>        
            <ul id="artist-btn">
                <div class="btn btn-block" data-inverted="" data-tooltip="Manish Malhotra is a former Indian Fashion designer turned costume designer and stylist, widely known for his works in Bollywood." data-position="top left">
                    <h6 id="h5">Manish Malhotra</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Donna Karan, also known as 'DK', is an American fashion designer and the creator of the Donna Karan New York and DKNY clothing labels." data-position="top left">
                    <h6 id="h5">Donna Karan</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Marc Jacobs is an American fashion designer. He is the head designer for his own fashion label, Marc Jacobs, and formerly Marc by Marc Jacobs." data-position="top left">
                    <h6 id="h5">Marc Jacobs</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Donatella Francesca Versace is an Italian fashion designer and businesswoman. She is the current chief creative officer of Versace, a division of Capri Holdings." data-position="top left">
                    <h6 id="h5">Donatella Versace</h6>
                </div>
            </ul>
            <hr class="style-two">
            <h3  id="more">
                <a class="h05" href="https://unsplash.com/t/fashion">
                    More Images
                </a>
                <i class="fas fa-images"></i>
                <a href="https://unsplash.com/t/fashion">
                    <p id="more-img5">Search for more designs here...</p>
                </a>
            </h3>
        </div>


        <!-- section 2 -->
        <div class="col-md-9 thumbnail">
            <!--Zoom effect-->
            <div class="overlay zoom">

                <img src="https://images.unsplash.com/photo-1591287747696-46f9cca3f0fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1591031086305-7e1bab55387e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1590862133252-c6991ebadef9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1590406542983-2823c9c2f71d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1544056351-8a07946ce309?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1588625240662-a526e539fee4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1553808373-92b0bcc3af65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1546241183-0ed3f8a4a824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="justify-content-center">
        <button class="ui back button">
            <a class="face" href="/gallery/type">
                <i class="arrow circle left icon"></i>
            Go Back
            </a>
        </button>

        <button class="ui facebook button">
            <a class="face" href="https://www.facebook.com/Sculpture-337671456258597/">
                <i class="facebook icon"></i>
                Facebook
            </a>
        </button>
        <button class="ui inst button">
            <a class="face" href="https://www.instagram.com/explore/tags/sculpture/?hl=en">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </button>
        <button class="ui youtube button">
            <a class="face" href="https://www.youtube.com/results?search_query=fashion+designing+">
                <i class="youtube icon"></i>
                YouTube
            </a>
        </button>
        <button class="ui goog button">
            <a class="face" href="https://www.google.com/search?source=hp&ei=AFbeXrXKL_GzmgeqzaiABg&q=fashion+designing&oq=fashion+designing&gs_lcp=CgZwc3ktYWIQAzIFCAAQsQMyAggAMgUIABCxAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6CwgAEOoCEI8BEIsDOgUIABCDAVCFCFiYO2C5PWgAcAB4AIAByAOIAd8bkgEKMC4xLjEwLjIuMZgBAKABAaoBB2d3cy13aXqwAQq4AQI&sclient=psy-ab&ved=0ahUKEwi1yrWewfLpAhXxmeYKHaomCmAQ4dUDCAc&uact=5">
                <i class="google icon"></i>
                Google
            </a>
        </button>
    </div>

    
    <%- include ("../../partials/footer") %>

</div>

<!-- jQuery scripts -->
<script type="text/javascript">
        
    $('.popover-dismiss').popover({
    trigger: 'focus'
})

</script>