<%- include ("../../partials/header") %>


<div class="container cont-one">
    
    <h1 class="heading">  
        <a href="/gallery/type/six"><i class="fas fa-chevron-circle-left lr-btn"></i></a>
            Sculpture
        <a href="/gallery/type/two"><i class="fas fa-chevron-circle-right lr-btn"></i></a>
    </h1>
    
    <div class="row">
        <!-- section 1 -->
        <div class="col-md-3 thumbnail">
            <h3 class="h01">What is Sculpture?</h3>
            <p class="para p1">
                Sculpture is the branch of the visual arts that operates in three dimensions. It is one of the plastic arts. Durable sculptural processes originally used carving and modelling, in stone, metal, ceramics, wood and other materials but, since Modernism, there has been an almost complete freedom of materials and process.
            </p>
            <hr class="style-two">
            <h3 class="h01">History</h3>
            <p class="para p1">
                During the Early Classical period of the 4th and 5th centuries BC, and transitioning into the Hellenistic period, sculptors began to break away from the rigid, Egyptian influenced model. Sculpture began to take on a much more realistic, natural look, with marble or bronze, not stone, the favored medium.
            </p>
            <hr class="style-two">
            <h3 class="h01">Sculpture Artists</h3>        
            <ul id="artist-btn">
                <div class="btn btn-block" data-inverted="" data-tooltip="François Auguste René Rodin was a French sculptor. Although Rodin is generally considered the progenitor of modern sculpture, he did not set out to rebel against the past." data-position="top left">
                    <h6 id="h1">Doreen Garner</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Alberto Giacometti was a Swiss sculptor, painter, draftsman and printmaker. " data-position="top left">
                    <h6 id="h1">Alberto Giacometti</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Pablo Ruiz Picasso was a Spanish painter, sculptor, printmaker, ceramicist and theatre designer who spent most of his adult life in France." data-position="top left">
                    <h6 id="h1">Pablo Picasso</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Henry Spencer Moore OM CH FBA was an English artist. He is best known for his semi-abstract monumental bronze sculptures which are located around the world as public works of art." data-position="top left">
                    <h6 id="h1">Henry Moore</h6>
                </div>
            </ul>
            <hr class="style-two">
            <h3  id="more">
                
                <a class="h01" href="https://unsplash.com/s/photos/sculture">
                    More Images
                </a>
                <i class="fas fa-images"></i>
                <a href="https://unsplash.com/s/photos/sculture">
                    <p id="more-img1">Search for more sculpture images here...</p>
                </a>
            </h3>
        </div>
        
        <!-- section 2 -->
        <div class="col-md-9 thumbnail">
            <!--Zoom effect-->
            <div class="overlay zoom">

                <img src="https://images.unsplash.com/photo-1579997961286-65d7dd1cd4a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1579947642314-54b5f8c806ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1588384153148-ebd739ac430c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1587131031099-2185aab522af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1581313950445-96494db9c13b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1586962373788-187e1ce5d714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1574439174312-8f93d763b1c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="justify-content-center">
        <button class="ui back button">
            <a class="face" href="/gallery/type">
                <i class="arrow circle left icon"></i>
            Go Back
            </a>
        </button>

        <button class="ui facebook button">
            <a class="face" href="https://www.facebook.com/Sculpture-337671456258597/">
                <i class="facebook icon"></i>
                Facebook
            </a>
        </button>
        <button class="ui inst button">
            <a class="face" href="https://www.instagram.com/explore/tags/sculpture/?hl=en">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </button>
        <button class="ui youtube button">
            <a class="face" href="https://www.youtube.com/results?search_query=sculpture+making">
                <i class="youtube icon"></i>
                YouTube
            </a>
        </button>
        <button class="ui goog button">
            <a class="face" href="https://www.google.com/search?source=hp&ei=Ks_cXvvEBdjXz7sP-Yak6Ak&q=sculpture&oq=sculp&gs_lcp=CgZwc3ktYWIQAxgAMgUIABCxAzIFCAAQsQMyBQgAELEDMgUIABCxAzIFCAAQsQMyAggAMgIIADIFCAAQsQMyBQgAELEDMgIIAFCzAVj2BGDBEWgAcAB4AIABoQKIAfQFkgEDMi0zmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab">
                <i class="google icon"></i>
                Google
            </a>
        </button>
    </div>

    
    <%- include ("../../partials/footer") %>

</div>

<!-- jQuery scripts -->
<script type="text/javascript">
    $('#popover-dismiss').popover({
        trigger: 'focus'
    })
</script>