<%- include ("../../partials/header") %>


<div class="container cont-six">
    
    <h1 class="heading">  
        <a href="/gallery/type/five"><i class="fas fa-chevron-circle-left lr-btn"></i></a>
            Graphic Designing
        <a href="/gallery/type/one"><i class="fas fa-chevron-circle-right lr-btn"></i></a>
    </h1>
    
    <div class="row">
        <!-- section 1 -->
        <div class="col-md-3 thumbnail">
            <h3 class="h06">What is Graphic Design?</h3>
            <p class="para p6">
                Graphic design is the process of visual communication and problem-solving through the use of typography, photography, iconography and illustration. The field is considered a subset of visual communication and communication design, but sometimes the term "graphic design" is used synonymously.
            </p>
            <hr class="style-two">
            <h3 class="h06">History</h3>
            <p class="para p6">
                For one thing, knowing where, why and how this industry came about helps designers understand their place alongside history. In more practical terms, stylistic trends are cyclical, and studying the past can inspire some innovative ideas in the present. So join us as we trace the roots of design from pre-industrial history into the industry we know today. With any luck, you might just leave your own footprint along the way!
            </p>
            <hr class="style-two">
            <h3 class="h06">Graphic Designers</h3>        
            <ul id="artist-btn">
                <div class="btn btn-block" data-inverted="" data-tooltip="Milton Glaser is an American graphic designer. His designs include the I â¤ NY logo, the psychedelic Bob Dylan poster." data-position="top left">
                    <h6 id="h1">Milton Glaser</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Jessica Walsh is an American graphic designer, art director and illustrator, and founder of creative agency & Walsh." data-position="top left">
                    <h6 id="h1">Jessica Walsh</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Stefan Sagmeister is a New York-based graphic designer, storyteller, and typographer." data-position="top left">
                    <h6 id="h1">Stefan Sagmeister</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Charles Kidd is an American graphic designer, best known for his book covers." data-position="top left">
                    <h6 id="h1">Chip Kidd</h6>
                </div>
            </ul>
            <hr class="style-two">
            <h3  id="more">
                <a class="h06" href="https://unsplash.com/s/photos/graphic-designing">
                    More Images
                </a>
                <i class="fas fa-images"></i>
                <a href="https://unsplash.com/s/photos/graphic-designing">
                    <p id="more-img6">Search for more graphic designes here...</p>
                </a>
            </h3>
        </div>


        <!-- section 2 -->
        <div class="col-md-9 thumbnail">
            <!--Zoom effect-->
            <div class="overlay zoom">

                <img src="https://images.unsplash.com/photo-1549814892-f6a520afc97d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1582861104036-2c822dc7b809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1559139011-7723d22cb0de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1572195761804-b8dbe2b62816?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=335&q=80" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1578878703110-503a58cf210a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" 
                class="img-fluid " alt="smaple image">

            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="justify-content-center">
        <button class="ui back button">
            <a class="face" href="/gallery/type">
                <i class="arrow circle left icon"></i>
                Go Back
            </a>
        </button>

        <button class="ui facebook button">
            <a class="face" href="https://www.facebook.com/Bardia.GraphicDesign/">
                <i class="facebook icon"></i>
                Facebook
            </a>
        </button>
        <button class="ui inst button">
            <a class="face" href="https://www.instagram.com/graphicroozane/?hl=en">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </button>
        <button class="ui youtube button">
            <a class="face" href="https://www.youtube.com/results?search_query=graphic+design">
                <i class="youtube icon"></i>
                YouTube
            </a>
        </button>
        <button class="ui goog button">
            <a class="face" href="https://www.google.com/search?rlz=1C1CHBF_enIN897IN897&biw=1396&bih=657&ei=OIDeXqXHFIHe9QOcwIGoDA&q=graphic+design&oq=gra&gs_lcp=CgZwc3ktYWIQAxgAMgQIABBDMgQIABBDMgQIABBDMgQIABBDMgQIABBDMgQIABBDMgUIABCxAzIFCAAQsQMyAggAMgIIADoHCAAQgwEQQ1Dj8Q9YgoEQYPaHEGgBcAB4AIAB9QGIAaAHkgEDMi00mAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab">
                <i class="google icon"></i>
                Google
            </a>
        </button>
    </div>

    
    <%- include ("../../partials/footer") %>

</div>

<!-- jQuery scripts -->
<script type="text/javascript">
        
    $('.popover-dismiss').popover({
    trigger: 'focus'
})

</script>