<%- include ("../../partials/header") %>


<div class="container cont-three">
    
    <h1 class="heading">  
        <a href="/gallery/type/two"><i class="fas fa-chevron-circle-left lr-btn"></i></a>
            Scketching
        <a href="/gallery/type/four"><i class="fas fa-chevron-circle-right lr-btn"></i></a>
    </h1>
    
    <div class="row">
        <!-- section 1 -->
        <div class="col-md-3 thumbnail">
            <h3 class="h03">What is Scketching?</h3>
            <p class="para p3">
                Sketch is a vector graphics editor for macOS developed by the Dutch company Bohemian Coding. It was first released on 7 September 2010 and won an Apple Design Award in 2012. It is primarily used for user interface and user experience design of websites and mobile apps and does not include print design features.
            </p>
            <hr class="style-two">
            <h3 class="h03">History</h3>
            <p class="para p3">
                It is believed that drawing was used as a specialised form of communication before the invention of the written language, demonstrated by the production of cave and rock paintings around 30,000 years ago (Art of the Upper Paleolithic). These drawings, known as pictograms, depicted objects and abstract concepts.
            </p>
            <hr class="style-two">
            <h3 class="h03">Sketch Artists</h3>        
            <ul id="artist-btn">
                <div class="btn btn-block" data-inverted="" data-tooltip="Michelangelo di Lodovico Buonarroti Simoni, known best as simply Michelangelo, was an Italian sculptor, painter, architect and poet of the High Renaissance." data-position="top left">
                    <h6 id="h3">Michelangelo</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Leonardo di ser Piero da Vinci, known as Leonardo da Vinci, was an Italian polymath of the Renaissance." data-position="top left">
                    <h6 id="h3">Leonardo da Vinci</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Lajos Tihanyi was a Hungarian painter and lithographer who achieved international renown working outside his country." data-position="top left">
                    <h6 id="h3">Lajos Tihanyi</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Bridget Louise Riley CH CBE is an English painter known for her singular op art paintings. She lives and works in London." data-position="top left">
                    <h6 id="h3">Bridget Riley</h6>
                </div>
            </ul>
            <hr class="style-two">
            <h3  id="more">
                <a class="h03" href="https://unsplash.com/s/photos/sketch?orientation=squarish">
                    More Images
                </a>
                <i class="fas fa-images h03"></i>
                <a href="https://unsplash.com/s/photos/sketch?orientation=squarish">
                    <p id="more-img3">Search for more sketches here...</p>
                </a>
            </h3>
        </div>


        <!-- section 2 -->
        <div class="col-md-9 thumbnail">
            <!--Zoom effect-->
            <div class="overlay zoom">
            
                <img src="https://images.unsplash.com/photo-1582201942988-13e60e4556ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1586126763549-52fe69195fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1534113961344-295e9c00e6cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1589442694956-9eaf242dd1fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1470137237906-d8a4f71e1966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " id="img1" alt="smaple image">

                <img src="https://images.unsplash.com/photo-1587420333680-87babd0cbfbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">
            
                <img src="https://images.unsplash.com/photo-1582201957428-5ff47ff7605c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="justify-content-center">
        <button class="ui back button">
            <a class="face" href="/gallery/type">
                <i class="arrow circle left icon"></i>
            Go Back
            </a>
        </button>

        <button class="ui facebook button">
            <a class="face" href="https://www.facebook.com/SKETCH.Toronto/">
                <i class="facebook icon"></i>
                Facebook
            </a>
        </button>
        <button class="ui inst button">
            <a class="face" href="https://www.instagram.com/explore/tags/sketch/?hl=en">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </button>
        <button class="ui youtube button">
            <a class="face" href="https://www.youtube.com/results?search_query=sketching+for+experts">
                <i class="youtube icon"></i>
                YouTube
            </a>
        </button>
        <button class="ui goog button">
            <a class="face" href="https://www.google.com/search?rlz=1C1CHBF_enIN897IN897&ei=pk_dXp6HMIzbz7sPvZOCmAQ&q=sketch&oq=sketch&gs_lcp=CgZwc3ktYWIQAzIHCAAQsQMQQzIFCAAQsQMyBwgAELEDEEMyBwgAELEDEEMyBwgAELEDEEMyBAgAEEMyBQgAELEDMgUIABCxAzIECAAQQzIFCAAQsQM6BAgAEEdQvDZYtjlg8UhoAHABeACAAYoDiAGtBpIBBzAuMS4xLjGYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwie8oqFx_DpAhWM7XMBHb2JAEMQ4dUDCAw&uact=5">
                <i class="google icon"></i>
                Google
            </a>
        </button>
    </div>

    
    <%- include ("../../partials/footer") %>

</div>

<!-- jQuery scripts -->
<script type="text/javascript">
        
    $('.popover-dismiss').popover({
    trigger: 'focus'
})

</script>