<%- include ("../../partials/header") %>


<div class="container cont-two">
    
    <h1 class="heading"> 
        <a href="/gallery/type/one"><i class="fas fa-chevron-circle-left lr-btn"></i></a>
            Painting
        <a href="/gallery/type/three"><i class="fas fa-chevron-circle-right lr-btn"></i></a>
    </h1>
    
    <div class="row">
        <!-- section 1 -->
        <div class="col-md-3 thumbnail">
            <h3 class="h02">What is Painting?</h3>
            <p class="para p2">
                Painting is the practice of applying paint, pigment, color or other medium to a solid surface. The medium is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used. The final work is also called a painting.
            </p>
            <hr class="style-two">
            <h3 class="h02">History</h3>
            <p class="para p2">
                The history of painting reaches back in time to artifacts from pre-historic humans, and spans all cultures. It represents a continuous, though periodically disrupted, tradition from Antiquity. Across cultures, and spanning continents and millennia, the history of painting is an ongoing river of creativity, that continues into the 21st century.
            </p>
            <hr class="style-two">
            <h3 class="h02">Famous Painters</h3>        
            <ul id="artist-btn">
                <div class="btn btn-block" data-inverted="" data-tooltip="Mandy El-Sayegh’s heavily gridded works explode with the energy of political, emotional, and formal painterly information collapsed into a single space. " data-position="top left">
                    <h6 id="h2">Mandy El-Sayegh</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="A master colorist, Tunji Adeniyi-Jones constructs ethereal worlds of mythological spiritualism with symbolic moments that play on the London-born painter’s Yoruba lineage." data-position="top left">
                    <h6 id="h2">Tunji Adeniyi-Jones</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Incredible swaths of colorful inks and pigment dance across Max Frintrop’s boisterous and archetypal canvases." data-position="top left">
                    <h6 id="h2">Max Frintrop</h6>
                </div>
                <div class="btn btn-block" data-inverted="" data-tooltip="Bold and colorful brushstrokes erase, or at least hide, underlying forms in Viola Bittl’s paintings." data-position="top left">
                    <h6 id="h2">Viola Bittl</h6>
                </div>
            </ul>
            <hr class="style-two">
            <h3  id="more">
                <a class="h02" href="https://unsplash.com/s/photos/painting?orientation=squarish">
                    More Images
                </a>
                <i class="fas fa-images"></i>
                <a href="https://unsplash.com/s/photos/painting?orientation=squarish">
                    <p id="more-img2">Search for more paintings here...</p>
                </a>
            </h3>
        </div>


        <!-- section 2 -->
        <div class="col-md-9 thumbnail">
            <!--Zoom effect-->
            <div class="overlay zoom">

                <img src="https://images.unsplash.com/photo-1590951839233-13f421cc4dfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/flagged/photo-1567934150921-7632371abb32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1518945756765-f8641d60fc0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1577641756973-934ad53fe8d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1532479255663-1ded0438a701?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

                <img src="https://images.unsplash.com/photo-1577720643380-d74d33d4a068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                class="img-fluid " alt="smaple image">

            </div>
        </div>
    </div>


    <!-- buttons -->
    <div class="justify-content-center">
        <button class="ui back button">
            <a class="face" href="/gallery/type">
                <i class="arrow circle left icon"></i>
            Go Back
            </a>
        </button>

        <button class="ui facebook button">
            <a class="face" href="https://www.facebook.com/Picturesandpaintings058/">
                <i class="facebook icon"></i>
                Facebook
            </a>
        </button>
        <button class="ui inst button">
            <a class="face" href="https://www.instagram.com/explore/tags/painting/?hl=en">
                <i class="instagram icon"></i>
                Instagram
            </a>
        </button>
        <button class="ui youtube button">
            <a class="face" href="https://www.youtube.com/results?search_query=painting+with+acrylic+colours+">
                <i class="youtube icon"></i>
                YouTube
            </a>
        </button>
        <button class="ui goog button">
            <a class="face" href="https://www.google.com/search?rlz=1C1CHBF_enIN897IN897&ei=vkXdXuXiMtLXz7sP-Law4AQ&q=painting&oq=painting&gs_lcp=CgZwc3ktYWIQAzIECAAQQzIHCAAQsQMQQzIHCAAQsQMQQzIHCAAQsQMQQzIECAAQQzIECAAQQzIECAAQQzIHCAAQsQMQQzIECAAQQzIECAAQQ1DvLFjvLGCAMWgAcAB4AIAB7QGIAe0BkgEDMi0xmAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjluezLvfDpAhXS63MBHXgbDEwQ4dUDCAw&uact=5">
                <i class="google icon"></i>
                Google
            </a>
        </button>
    </div>

    
    <%- include ("../../partials/footer") %>

</div>

<!-- jQuery scripts -->
<script type="text/javascript">
        
    $('.popover-dismiss').popover({
    trigger: 'focus'
})

</script>